* {
    margin: 0;
    box-sizing: border-box;
   }
   body {
   background: url("https://bit.ly/hw4ting"); 
   opacity: .5;
   background-repeat: no-repeat;
   }
   .container {
   max-width: 1400px;
   }
   .container > * {
   background-color: lightblue;
   font-size: 10rem;
    color: blue;
    border: 2px dashed blue;
   }