/* CSS styles */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://cdn.imgchest.com/files/p7bwcdnql7n.png);
  background-repeat: no-repeat;
  max-width: 1155px;
  min-height: 1018px;
  font-size: 2rem;
  opacity: .5;
  color: blue;
  font-family: Arial,Helvetica,sans-serif;
}
.container > * {
  border: 2px dashed blue;
}

.container {
  display: grid;
  grid-template-rows:minmax(40px,auto) minmax(169px,auto) minmax(36px,auto) minmax(387px,auto) minmax(384px,auto);
  grid-template-columns: minmax(20px,237px) minmax(20px,681px) minmax(20px,238px);
  grid-template-areas: 
    "one one one"
    "two two two "
    "three three three"
    "four six seven"
    "five five five";
}

.logo img {
  padding: 8px 0px;
}
.box2 .logo {
  width: 20%;
}
.phone > ul {
  display: flex;
  flex-direction:column;
  align-items: start;
  list-style-type: none;
  color: #ff671f;
  text-decoration: underline;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  padding: 0px 15px;
  gap: 10px;
  flex-wrap: wrap;
}

.box2 {
  display: flex;
  padding: 3px 0px;
  flex-wrap: wrap;
}

.box2 .description {
  text-align: center;
  width: 50%;
  padding: 5px 30px;
}
.description > ul {
  display: flex;
  list-style-type: none;
  padding: 1px 28px;
  border-radius: 6px 6px 0px 0px;
  font-size: 12px;
  flex-wrap: wrap;
}

.description .p1 {
  background-color: #ff5000;
  color: #FFF;
  font-weight: 700;
  background-image: linear-gradient(to top,#ff9000 0,#ff5000 100%);
  font-size: 14px;
  padding: 1px 5px;
} 

.description .p6 {
  color: #555656;
  font-size: 12px;
  padding: 1px 12px;
}

.input-group {
  display: flex;
  border: 3px solid #fe6402;
  justify-content: space-between;
  height: 45px;
  width: 105%;
  flex-wrap: wrap;
}

.search {
  padding: 13px 38px;
  font-size: 14px;
  color:#555656;
}

.btn {
  background-color:#fe6402;
  font-size:15px;
  text-align: center;
  color: #FFF;
  padding: 10px 10px;
}

.description > img {
  padding: 5px;
}

.contact-info {
  display: flex;
  width: 30%;
  text-align: left;
  padding:25px 39px;
  gap:6px;
  flex-wrap: wrap;
}

.cart-text i {
  font-size: 25px;
  color: #fff;
  float: left;
  text-align: center;
  height: 45px;
  width: 45px;
  background-color: #FF4200;
  background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
  background-repeat: repeat-x;
}

.contact-info .cart {
font-size: 16px;
color: #555656;
padding: 4px 10px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 6.5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
}
.box4 > ul {
  display:flex;
  flex-direction: column;
  list-style-type:none;
  color: #555656;
  font-size: 14px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  flex-wrap: wrap;
  gap:2px;
}

.box41 {
  width: 10px;
  padding:3px 0px;
}

.box42 {
  padding:6px 0px;;
}

.box43 {
  padding:4px 0px;
}

.box44 {
  padding:5px 0px;
}

.box45 {
  padding:5px 0px;
}

.box46 {
  padding:6px 0px;
}

.box47 {
  padding:5px 0px;
}

.box48 {
  padding:4px 0px;
}

.box49 {
  padding:6px 0px;
}

.box50 {
  padding:5px 0px;
}

.box51 {
  padding: 7px 26px;
  background-color: #fe6402;
  color:#FFF;
}

.box4 li {
  border-bottom: 1px solid #eee;
  list-style: none;
  position: static;
}

.box3 > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: .05rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  flex-wrap: wrap;
}

.box3 li:nth-child(1) {
  color:#FFF;
  font-weight: 700;
  font: bold 14px/30px Arial,Helvetica,sans-serif;
  text-align: center;
  background-color: #ff5000;
  background-image:linear-gradient(to top,#ff9000 0,#ff5000 100%);
  padding: 0px 20px;
  border: 0px 20px;
  margin: 0px 50px;
}

.box3 li:nth-child(2), .box3 li:nth-child(3), .box3 li:nth-child(4), .box3 li:nth-child(5), .box3 li:nth-child(6), .box3 li:nth-child(7) {
  color: #333;
}

.box3 li:nth-child(2) {
  padding:6px 27.5px;
}
.box3 li:nth-child(3) {
  padding:6px 0px;
}

.box3 li:nth-child(4) {
  padding:6px 20px;
}

.box3 li:nth-child(5) {
  padding:6px 5px;
}

.box3 li:nth-child(6) {
  padding:6px 17px;
}

.box3 li:nth-child(7) {
  padding:6px 8px;
}

.box5 {
  padding: 9px 0px;
}
.box5 .h2 {
  font-size: 1.8em;
  display: inline-block;
  color: #555656;
  border-bottom: 3px solid #555656;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:25px;
  font-weight: 500;
  line-height: 1.1;
  padding: 6px 2px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 14px 9px;
}

.item-list img {
  width: 200px;
  height: 200px;
}

.item-list > * {
  flex-basis: 200px;
}

.item-list h3 {
  font-size: 13px;
  color: #555656;
  text-align: center;
  height: 16px;
}

.product1 .cost {
  display: flex;
  padding: 25px 0px;
  flex-wrap: wrap;
}

.product1 .cost_old {
  text-decoration: line-through;
  color: #959696;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  padding: 4px 9px;
}

.product1 .cost_new {
  color: #ff671f;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.product2 .cost {
  display: flex;
  padding: 15px 0px;
  flex-wrap: wrap;
}
.product2 .cost_old {
  text-decoration: line-through;
  color: #959696;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 2px;
}

.product2 .cost_new {
  color: #ff671f;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 9px 3px;
}

.product1, .product2 {
  position: relative;
}

.product1 .discount-label {
  position: absolute;
  top: 1px;
  right: 1px;
}

.product2 .discount-label {
  position: absolute;
  top: 1px;
  right: 1px;
}

.label-sale {
  background: #ff671f;
  color: #fff;
  padding: 7px;
  border-radius: 5px 0 0 5px;
  font: bold 14px/16px Arial, Helvetica, sans-serif;
}

@media (max-width: 500px) {
.container {
  grid-template-columns: 100%;
  grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
}
}

.box1 {
  grid-area: one;
}

.box2 {
  grid-area: two;
}

.box3 {
  grid-area: three;
}

.box4 {
  grid-area: four;
}

.box5 {
  grid-area: five;
}

.box6 {
  grid-area: six;
}

.box7 {
  grid-area: seven;
}