* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(https://cdn.imgchest.com/files/p7bwcdnql7n.png); 
    background-repeat: no-repeat;
    max-width: 1155px;
    min-height: 1018px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
    font-family: Arial,Helvetica,sans-serif;
  }

  
  .container {
    display: grid;
    grid-template-rows:minmax(40px,auto) minmax(169px,auto) minmax(36px,auto) minmax(387px,auto) minmax(360px,auto);
    grid-template-columns: minmax(20px,237px) minmax(20px,681px) minmax(20px,238px);
    grid-template-areas: 
      "one one one"
      "two two two "
      "three three three"
      "four six seven"
      "five five five";
  }

  .buttonMenu {
    display: none;
  }

  @media (max-width: 500px) {
    .box3 {
        display: none;
    }

    .box3.mobileMenu {
        display: block;
        position: fixed;
        top: 50px;
        right: 0;
    }

    .buttonMenu {
        display: block;
        position: fixed;
        top: 30px;
        right: 0;
    }

    .buttonMenu img {
        width: auto;
        height: 30px;
    }

    .container {
        display: grid;
        grid-template-rows: repeat (6, 1fr);
        grid-template-columns: 220px 1fr;
        grid-template-areas: 
        "one one"
        "two two"
        "six six"
        "five five"
        "four four"
        "seven seven"
    }
} 
  
.box1 {
    padding: 3px; 
}

  .nav {
    font-family: sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #eeeeee;
    line-height: 1.42857143;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  } 
  
  .box1-f, .box1-s {
    display: flex;
    flex-wrap: wrap;
  }

  .box1-1, .box1-2, .box1-3, .box1-4, .box1-5, .box1-6 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .whatsapp-btn {
    display: flex;
    flex-wrap: wrap;
    background: #25D366;
    padding: 0px 0px;
    border-radius: 3px;
    color: #fff;
    font: bold 14px/20px Arial;
    align-items: center;
    font-size: 13px;
  }
  .box1-1, .box1-2 {
    padding: 3px 7px;
  }
  
  .box1-4 img {
    min-height: 25px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .nav .fa {
    padding: 0px 10px;
    font-size: 16px;
  }

  .box1-2 {
    padding: 2px 5px;
  }
  
  .box1-3 {
    padding: 0px 12px;
  }
  
  .box1-3 .fa {
    font-size: 20px;
  }
  
  .box1-4 {
    padding: 0px 8px;
  }
  
  .box1-5 {
    gap: 2px;
    padding: 4px 0px;
  }
  
  #note-items-count {
    padding: 0px 1px;
  }

  .box1-6 {
    padding: 4px 19px;
  }

  .box2 {
    grid-area: two;
  }
  
  .logo img {
    padding: 8px 0px;
    
  }
  
  .box2 .logo {
    max-width: 100%;
    min-width: 20%;
  }

  .phone > ul {
    display: flex;
    flex-direction:column;
    align-items: start;
    list-style-type: none;
    color: #ff671f;
    text-decoration: underline;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    padding: 0px 15px;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .box2 {
    display: flex;
    padding: 3px 0px;
    flex-wrap: wrap;
  }
  
  .box2 .description {
    text-align: center;
    width: 50%;
    padding: 5px 30px;
  }
  .description > ul {
    display: flex;
    list-style-type: none;
    padding: 1px 28px;
    border-radius: 6px 6px 0px 0px;
    font-size: 12px;
    flex-wrap: wrap;
  }
  
  .description .p1 {
    background-color: #ff5000;
    color: #FFF;
    font-weight: 700;
    background-image: linear-gradient(to top,#ff9000 0,#ff5000 100%);
    font-size: 14px;
    padding: 1px 5px;
  } 
  
  .description .p6 {
    color: #555656;
    font-size: 12px;
    padding: 1px 12px;
  }
  
  .input-group {
    display: flex;
    border: 3px solid #fe6402;
    min-height: 45px;
    width: 105%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  
  .input-group > span {
    color: #555656;
    font-size: 15px;
    padding: 11px 0px 0px 10px;
  }
  
  .input-group a {
    font-size: 20px;
    color: #555656;
    padding: 10px 10px 10px 50px;
  }
  .search {
    padding: 13px 50px 0px 2px;
    font-size: 14px;
    color:#555656;
  }
  
  .input-group .btn {
    background-color:#fe6402;
    font-size:15px;
    text-align: center;
    color:  #fff;
    padding: 10px 10px;
  }
  
  .description > img {
    padding: 4px 0px;
    max-width: 100%;
  }
  
  .contact-info {
    display: flex;
    width: 30%;
    text-align: left;
    padding:25px 39px;
    gap:6px;
    flex-wrap: wrap;
  }
  
  .cart-text i {
      font-size: 25px;
      color: #fff;
      padding: 8px;
      float: left;
      text-shadow: #b74005 1px 1px, #b74005 2px 2px, #b74005 3px 3px, #b74005 4px 4px, #b74005 5px 5px, #b74005 6px 6px, #b74005 7px 7px, #b74005 8px 8px, #b74005 9px 9px, #b74005 10px 10px, #b74005 11px 11px, #b74005 12px 12px, #b74005 13px 13px, #b74005 14px 14px, #b74005 15px 15px, #b74005 16px 16px, #b74005 17px 17px, #b74005 18px 18px, #b74005 19px 19px, #b74005 20px 20px, #b74005 21px 21px, #b74005 22px 22px, #b74005 23px 23px, #b74005 24px 24px, #b74005 25px 25px, #b74005 26px 26px, #b74005 27px 27px, #b74005 28px 28px, #b74005 29px 29px, #b74005 30px 30px, #b74005 31px 31px, #b74005 32px 32px, #b74005 33px 33px, #b74005 34px 34px, #b74005 35px 35px, #b74005 36px 36px, #b74005 37px 37px, #b74005 38px 38px, #b74005 39px 39px, #b74005 40px 40px, #b74005 41px 41px, #b74005 42px 42px, #b74005 43px 43px, #b74005 44px 44px, #b74005 45px 45px, #b74005 46px 46px, #b74005 47px 47px, #b74005 48px 48px, #b74005 49px 49px, #b74005 50px 50px, #b74005 51px 51px, #b74005 52px 52px, #b74005 53px 53px, #b74005 54px 54px, #b74005 55px 55px, #b74005 56px 56px, #b74005 57px 57px, #b74005 58px 58px, #b74005 59px 59px, #b74005 60px 60px, #b74005 61px 61px, #b74005 62px 62px, #b74005 63px 63px, #b74005 64px 64px, #b74005 65px 65px, #b74005 66px 66px, #b74005 67px 67px, #b74005 68px 68px, #b74005 69px 69px, #b74005 70px 70px, #b74005 71px 71px, #b74005 72px 72px, #b74005 73px 73px, #b74005 74px 74px, #b74005 75px 75px, #b74005 76px 76px, #b74005 77px 77px, #b74005 78px 78px, #b74005 79px 79px, #b74005 80px 80px, #b74005 81px 81px, #b74005 82px 82px, #b74005 83px 83px, #b74005 84px 84px, #b74005 85px 85px, #b74005 86px 86px, #b74005 87px 87px, #b74005 88px 88px, #b74005 89px 89px, #b74005 90px 90px, #b74005 91px 91px, #b74005 92px 92px, #b74005 93px 93px, #b74005 94px 94px, #b74005 95px 95px, #b74005 96px 96px, #b74005 97px 97px, #b74005 98px 98px, #b74005 99px 99px, #b74005 100px 100px;
      overflow: hidden;
      text-align: center;
      height: 45px;
      width: 45px;
      background-color: #FF4200;
      background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
      background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
      background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
      background-repeat: repeat-x;
  }
  
  .contact-info .cart {
    font-size: 16px;
    color: #555656;
    padding: 4px 10px;
  }
  
  .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 6.5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
  }
  
  .box4 > ul {
    display:flex;
    flex-direction: column;
    list-style-type:none;
    color: #555656;
    font-size: 14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    flex-wrap: wrap;
    padding: 0px 2px;
  }
  
  .category-ul img { 
    width: 19px;
  }
  
  .fa {
    float: right;
  }
  
  .box41 {
    height: 47px;
    padding: 2px 15px 1px 38px;
  }
  
  .box42 {
    padding:6px 15px 8px 38px;
  }
  
  .box43 {
    padding:5px 15px 6px 39px;
  }
  
  .box44 {
    padding:5px 15px 6px 39px;
  }
  
  .box45 {
    padding:7px 15px 6px 38px;
  }
  
  .box4 img {
    top: 0px;
    left: 10px;
    position: absolute;
  }
  .box46, .box47, .box48, .box50 {
    position: relative;
  }
  .box4 img {
    padding: 7px 0px;
  }
  
  .box46 {
    padding:5px 15px 6px 39px;
  }
  
  .box47 {
    padding:6px 15px 6px 39px;
  }
  
  .box48 {
    padding:7px 15px 6px 39px;
  }
  
  .box49 {
    padding:7px 15px 6px 39px;
  }
  
  .box50 {
    padding:5px 15px 6px 39px;
  }
  
  .box51 {
    padding: 8px 15px 7px 0px;
    background-color: #fe6402;
    color:#FFF;
    text-align: center;
  }
  
  .box4 li {
    border-bottom: 1px solid #eee;
    list-style: none;
    position: static;
  }
  
  .box3 > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: .05rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    flex-wrap: wrap;
  }
  
  .box3 li:nth-child(1) {
    color:#FFF;
    font-weight: 700;
    font: bold 14px/30px Arial,Helvetica,sans-serif;
    text-align: center;
    background-color: #ff5000;
    background-image:linear-gradient(to top,#ff9000 0,#ff5000 100%);
    padding: 0px 20px;
    border: 0px 20px;
    margin: 0px 50px;
  }
  
  .box3 li:nth-child(2), .box3 li:nth-child(3), .box3 li:nth-child(4), .box3 li:nth-child(5), .box3 li:nth-child(6), .box3 li:nth-child(7) {
    color: #333;
  }
  
  .box3 li:nth-child(2) {
    padding:6px 27.5px;
  }
  .box3 li:nth-child(3) {
    padding:6px 0px;
  }
  
  .box3 li:nth-child(4) {
    padding:6px 20px;
  }
  
  .box3 li:nth-child(5) {
    padding:6px 5px;
  }
  
  .box3 li:nth-child(6) {
    padding:6px 17px;
  }
  
  .box3 li:nth-child(7) {
    padding:6px 8px;
  }
  
  .box5 {
    padding: 9px 0px;
  }
  .box5 .h2 {
    font-size: 1.8em;
    display: inline-block;
    color: #555656;
    border-bottom: 3px solid #555656;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:25px;
    font-weight: 500;
    line-height: 1.1;
    padding: 6px 2px;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 14px 9px;
  }
  
  .item-list img {
    width: 200px;
    height: 200px;
  }
  
  .item-list > * {
    flex-basis: 200px;
  }
  
  .item-list h3 {
    font-size: 13px;
    color: #555656;
    text-align: center;
    height: 16px;
  }
  
  .product1 .cost {
    display: flex;
    padding: 25px 0px;
    flex-wrap: wrap;
  }
  
  .product1 .cost_old {
    text-decoration: line-through;
    color: #959696;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 4px 9px;
  }
  
  .product1 .cost_new {
    color: #ff671f;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .product2 .cost {
    display: flex;
    padding: 15px 0px;
    flex-wrap: wrap;
  }
  .product2 .cost_old {
    text-decoration: line-through;
    color: #959696;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 2px;
  }
  
  .product2 .cost_new {
    color: #ff671f;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 9px 3px;
  }
  
  .product1, .product2 {
    position: relative;
  }
  
  .product1 .discount-label {
    position: absolute;
    top: 1px;
    right: 1px;
  }
  
  .product2 .discount-label {
    position: absolute;
    top: 1px;
    right: 1px;
  }
  
  .label-sale {
    background: #ff671f;
    color: #fff;
    padding: 7px;
    border-radius: 5px 0 0 5px;
    font: bold 14px/16px Arial, Helvetica, sans-serif;
  }
  
  .box1 {
    grid-area: one;
  }
  
  .box2 {
    grid-area: two;
  }
  
  .box3 {
    grid-area: three;
  }
  
  .box3 {
    border-bottom: 3px solid #fe8d00;
  }
  
  .box4 {
    grid-area: four;
  }
  
  .box5 {
    grid-area: five;
  }
  
  .box6 {
    grid-area: six;
    background-image: url(https://www.tao.kg/uploaded/banners/photo_2021-02-18_18-34-44.jpg);
    background-size: contain;
  }
  
  .box6 p {
    display: none;
  }
  
  .box6 > * {
    width: 97.8%;
    height:95%;
  }
  
  .box7 {
    grid-area: seven;
  }
  
  .box7-1 > * {
    width: 100%;
    height: 50%;
  }
  
  .box7-2 > * {
    width: 100%;
    height: 50%;
  }
  
  